name: GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{secrets.GH_TOKEN}}
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - run: |
          # Install hugo
          wget https://github.com/gohugoio/hugo/releases/download/v0.111.3/hugo_0.111.3_linux-amd64.tar.gz
          tar xfz hugo_0.111.3_linux-amd64.tar.gz

          # Configure GH
          git config --global user.name "ci"
          git config --global user.email "ci@example.com"
          
          # Prepare content to push
          ./hugo
          # find . -depth 1 -not -name "public" -exec rm -rf '{}' ';'
          ls | while read line; do [ "$line" != "public" ] && rm -rf "$line"; done
          
          # Push content
          git add .
          git add --force public
          git commit -m "New version xxx"
          # Do we want to use a force push here? Yikes!!!
          git push origin main:public
